openapi: 3.0.0
info:
  title: Brapi - API do Mercado Financeiro Brasileiro
  version: 3.0.0
  description: >-
    Acesso instantâneo a dados do mercado financeiro brasileiro e internacional.


    **Recursos Principais:**


    *   **Cotações:** Obtenha valores de cotação e históricos para ações (B3),
    fundos imobiliários (FIIs), BDRs, índices e ETFs.

    *   **Criptomoedas:** Consulte cotações e dados históricos de diversas
    criptomoedas em várias moedas fiduciárias.

    *   **Moedas:** Acesse taxas de câmbio entre diferentes moedas.

    *   **Dados Fundamentalistas:** Obtenha dados financeiros detalhados de
    empresas listadas (requer módulos específicos).

    *   **Dividendos:** Consulte informações sobre pagamentos de dividendos e
    JCP.

    *   **Inflação:** Acesse índices de inflação históricos para diferentes
    países.


    **SDKs Oficiais:**


    Recomendamos o uso de nossas SDKs oficiais para integração mais rápida e
    robusta:


    *   **TypeScript/JavaScript:** `npm install brapi`
        *   Tipos completos com IntelliSense
        *   Suporte a Node.js e navegador
        *   Retry automático e tratamento de erros tipado
        *   GitHub: https://github.com/brapi-dev/brapi-typescript

    *   **Python:** `pip install brapi`
        *   Suporte síncrono e assíncrono (AsyncBrapi)
        *   Type hints completos com Pydantic
        *   Compatível com Python 3.8+
        *   GitHub: https://github.com/brapi-dev/brapi-python

    **Vantagens das SDKs:**

    *   60% menos código comparado com requisições manuais

    *   Autenticação automática e tratamento de erros

    *   Retry inteligente com backoff exponencial

    *   Validação de tipos e autocomplete

    *   Documentação integrada no editor


    Utilize esta API para integrar dados financeiros robustos em suas
    aplicações, dashboards ou análises.


    **Website Oficial:** [https://brapi.dev](https://brapi.dev)

    **Documentação das SDKs:**
    [https://brapi.dev/docs/sdks](https://brapi.dev/docs/sdks)
  contact:
    name: Brapi
    url: https://brapi.dev
    email: contact@brapi.dev
servers:
  - url: https://brapi.dev
    description: Servidor principal da API Brapi
  - url: http://localhost:3000
    description: Servidor local para desenvolvimento
paths:
  /api/quote/{tickers}:
    get:
      summary: Buscar Cotação Detalhada de Ativos Financeiros
      description: |
        Este endpoint é a principal forma de obter informações detalhadas sobre um ou mais ativos financeiros (ações, FIIs, ETFs, BDRs, índices) listados na B3, identificados pelos seus respectivos **tickers**.

        ### Funcionalidades Principais:

        *   **Cotação Atual:** Retorna o preço mais recente, variação diária, máximas, mínimas, volume, etc.
        *   **Dados Históricos:** Permite solicitar séries históricas de preços usando os parâmetros `range` e `interval`.
        *   **Dados Fundamentalistas:** Opcionalmente, inclui dados fundamentalistas básicos (P/L, LPA) com o parâmetro `fundamental=true`.
        *   **Dividendos:** Opcionalmente, inclui histórico de dividendos e JCP com `dividends=true`.
        *   **Módulos Adicionais:** Permite requisitar conjuntos de dados financeiros mais aprofundados através do parâmetro `modules` (veja detalhes abaixo).

        ### 🧪 Ações de Teste (Sem Autenticação):

        Para facilitar o desenvolvimento e teste, as seguintes **4 ações têm acesso irrestrito** e **não requerem autenticação**:

        *   **PETR4** (Petrobras PN)
        *   **MGLU3** (Magazine Luiza ON)  
        *   **VALE3** (Vale ON)
        *   **ITUB4** (Itaú Unibanco PN)

        **Importante:** Você pode consultar essas ações sem token e com acesso a todos os recursos (históricos, módulos, dividendos). Porém, se misturar essas ações com outras na mesma requisição, a autenticação será obrigatória.

        ### Autenticação:

        Para **outras ações** (além das 4 de teste), é **obrigatório** fornecer um token de autenticação válido, seja via query parameter `token` ou via header `Authorization: Bearer seu_token`.

        ### Exemplos de Requisição:

        **1. Cotação simples de PETR4 e VALE3 (ações de teste - sem token):**

        ```bash
        curl -X GET "https://brapi.dev/api/quote/PETR4,VALE3"
        ```

        **2. Cotação de MGLU3 com dados históricos do último mês (ação de teste - sem token):**

        ```bash
        curl -X GET "https://brapi.dev/api/quote/MGLU3?range=1mo&interval=1d"
        ```

        **3. Cotação de ITUB4 incluindo dividendos e dados fundamentalistas (ação de teste - sem token):**

        ```bash
        curl -X GET "https://brapi.dev/api/quote/ITUB4?fundamental=true&dividends=true"
        ```

        **4. Cotação de WEGE3 com Resumo da Empresa e Balanço Patrimonial Anual (via módulos - requer token):**

        ```bash
        curl -X GET "https://brapi.dev/api/quote/WEGE3?modules=summaryProfile,balanceSheetHistory&token=SEU_TOKEN"
        ```

        **5. Exemplo de requisição mista (requer token):**

        ```bash
        curl -X GET "https://brapi.dev/api/quote/PETR4,BBAS3?token=SEU_TOKEN"
        ```

        *Nota: Como BBAS3 não é uma ação de teste, toda a requisição requer autenticação, mesmo contendo PETR4.*

        ### Parâmetro `modules` (Detalhado):

        O parâmetro `modules` é extremamente poderoso para enriquecer a resposta com dados financeiros detalhados. Você pode solicitar um ou mais módulos, separados por vírgula.

        **Módulos Disponíveis:**

        *   `summaryProfile`: Informações cadastrais da empresa (endereço, setor, descrição do negócio, website, número de funcionários).
        *   `balanceSheetHistory`: Histórico **anual** do Balanço Patrimonial.
        *   `balanceSheetHistoryQuarterly`: Histórico **trimestral** do Balanço Patrimonial.
        *   `defaultKeyStatistics`: Principais estatísticas da empresa (Valor de Mercado, P/L, ROE, Dividend Yield, etc.) - **TTM (Trailing Twelve Months)**.
        *   `defaultKeyStatisticsHistory`: Histórico **anual** das Principais Estatísticas.
        *   `defaultKeyStatisticsHistoryQuarterly`: Histórico **trimestral** das Principais Estatísticas.
        *   `incomeStatementHistory`: Histórico **anual** da Demonstração do Resultado do Exercício (DRE).
        *   `incomeStatementHistoryQuarterly`: Histórico **trimestral** da Demonstração do Resultado do Exercício (DRE).
        *   `financialData`: Dados financeiros selecionados (Receita, Lucro Bruto, EBITDA, Dívida Líquida, Fluxo de Caixa Livre, Margens) - **TTM (Trailing Twelve Months)**.
        *   `financialDataHistory`: Histórico **anual** dos Dados Financeiros.
        *   `financialDataHistoryQuarterly`: Histórico **trimestral** dos Dados Financeiros.
        *   `valueAddedHistory`: Histórico **anual** da Demonstração do Valor Adicionado (DVA).
        *   `valueAddedHistoryQuarterly`: Histórico **trimestral** da Demonstração do Valor Adicionado (DVA).
        *   `cashflowHistory`: Histórico **anual** da Demonstração do Fluxo de Caixa (DFC).
        *   `cashflowHistoryQuarterly`: Histórico **trimestral** da Demonstração do Fluxo de Caixa (DFC).

        **Exemplo de Uso do `modules`:**

        Para obter a cotação de BBDC4 junto com seu DRE trimestral e Fluxo de Caixa anual:

        ```bash
        curl -X GET "https://brapi.dev/api/quote/BBDC4?modules=incomeStatementHistoryQuarterly,cashflowHistory&token=SEU_TOKEN"
        ```

        ### Resposta:

        A resposta é um objeto JSON contendo a chave `results`, que é um array. Cada elemento do array corresponde a um ticker solicitado e contém os dados da cotação e os módulos adicionais requisitados.

        *   **Sucesso (200 OK):** Retorna os dados conforme solicitado.
        *   **Bad Request (400 Bad Request):** Ocorre se um parâmetro for inválido (ex: `range=invalid`) ou se a formatação estiver incorreta.
        *   **Unauthorized (401 Unauthorized):** Token inválido ou ausente.
        *   **Payment Required (402 Payment Required):** Limite de requisições do plano atual excedido.
        *   **Not Found (404 Not Found):** Um ou mais tickers solicitados não foram encontrados.
      operationId: getQuote
      tags:
        - Ações
      parameters:
        - name: tickers
          in: path
          required: true
          description: >-
            **Obrigatório.** Um ou mais tickers de ativos financeiros (ações,
            FIIs, índices, etc.) que você deseja consultar. 


            *   **Múltiplos Tickers:** Separe-os por vírgula (`,`).

            *   **Exemplos:** `PETR4`, `ITSA4,MGLU3`, `^BVSP` (para o índice
            Ibovespa).
          schema:
            type: string
            example: PETR4,MGLU3
        - $ref: "#/components/parameters/Token"
        - name: range
          in: query
          required: false
          description: >-
            **Opcional.** Define o período para os dados históricos de preço
            (`historicalDataPrice`). Se omitido, apenas a cotação mais recente é
            retornada (a menos que `interval` seja usado).


            **Valores Possíveis:**


            *   `1d`: Último dia de pregão (intraday se `interval` for
            minutos/horas).

            *   `5d`: Últimos 5 dias.

            *   `1mo`: Último mês.

            *   `3mo`: Últimos 3 meses.

            *   `6mo`: Últimos 6 meses.

            *   `1y`: Último ano.

            *   `2y`: Últimos 2 anos.

            *   `5y`: Últimos 5 anos.

            *   `10y`: Últimos 10 anos.

            *   `ytd`: Desde o início do ano atual (Year-to-Date).

            *   `max`: Todo o período histórico disponível.
          schema:
            type: string
            enum:
              - 1d
              - 5d
              - 1mo
              - 3mo
              - 6mo
              - 1y
              - 2y
              - 5y
              - 10y
              - ytd
              - max
            example: 5d
        - name: interval
          in: query
          required: false
          description: >-
            **Opcional.** Define a granularidade (intervalo) dos dados
            históricos de preço (`historicalDataPrice`). Requer que `range`
            também seja especificado.


            **Valores Possíveis:**


            *   `1m`, `2m`, `5m`, `15m`, `30m`, `60m`, `90m`, `1h`: Intervalos
            intraday (minutos/horas). **Atenção:** Disponibilidade pode variar
            conforme o `range` e o ativo.

            *   `1d`: Diário (padrão se `range` for especificado e `interval`
            omitido).

            *   `5d`: 5 dias.

            *   `1wk`: Semanal.

            *   `1mo`: Mensal.

            *   `3mo`: Trimestral.
          schema:
            type: string
            enum:
              - 1m
              - 2m
              - 5m
              - 15m
              - 30m
              - 60m
              - 90m
              - 1h
              - 1d
              - 5d
              - 1wk
              - 1mo
              - 3mo
            example: 1d
        - name: fundamental
          in: query
          required: false
          description: >-
            **Opcional.** Booleano (`true` ou `false`). Se `true`, inclui dados
            fundamentalistas básicos na resposta, como Preço/Lucro (P/L) e Lucro
            Por Ação (LPA). 


            **Nota:** Para dados fundamentalistas mais completos, utilize o
            parâmetro `modules`.
          schema:
            type: boolean
            example: true
        - name: dividends
          in: query
          required: false
          description: "**Opcional.** Booleano (`true` ou `false`). Se `true`, inclui
            informações sobre dividendos e JCP (Juros sobre Capital Próprio)
            pagos historicamente pelo ativo na chave `dividendsData`."
          schema:
            type: boolean
            example: true
        - name: modules
          in: query
          required: false
          description: >-
            **Opcional.** Uma lista de módulos de dados adicionais, separados
            por vírgula (`,`), para incluir na resposta. Permite buscar dados
            financeiros detalhados.


            **Exemplos:**


            *   `modules=summaryProfile` (retorna perfil da empresa)

            *   `modules=balanceSheetHistory,incomeStatementHistory` (retorna
            histórico anual do BP e DRE)


            Veja a descrição principal do endpoint para a lista completa de
            módulos e seus conteúdos.
          schema:
            type: array
            description: Uma lista de módulos de dados adicionais, separados por vírgula
              (`,`), para incluir na resposta. Permite buscar dados financeiros
              detalhados.
            explode: false
            items:
              type: string
              enum:
                - summaryProfile
                - balanceSheetHistory
                - defaultKeyStatistics
                - balanceSheetHistoryQuarterly
                - incomeStatementHistory
                - incomeStatementHistoryQuarterly
                - financialData
                - financialDataHistory
                - financialDataHistoryQuarterly
                - defaultKeyStatisticsHistory
                - defaultKeyStatisticsHistoryQuarterly
                - valueAddedHistory
                - valueAddedHistoryQuarterly
                - cashflowHistory
                - cashflowHistoryQuarterly
            example:
              - summaryProfile
              - balanceSheetHistory
              - financialData
          style: form
          explode: false
      responses:
        "200":
          description: "**Sucesso.** A requisição foi bem-sucedida e os dados dos ativos
            solicitados foram retornados. A estrutura da resposta inclui um
            array `results` com os detalhes de cada ativo."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteResponse"
              example:
                results:
                  - currency: BRL
                    marketCap: 416355902930
                    shortName: PETROBRAS   PN  EDJ N2
                    longName: Petróleo Brasileiro S.A. - Petrobras
                    regularMarketChange: 0.17
                    regularMarketChangePercent: 0.5499999999999999
                    regularMarketTime: 2025-08-29T20:07:36.000Z
                    regularMarketPrice: 31.1
                    regularMarketDayHigh: 31.35
                    regularMarketDayRange: 30.85 - 31.35
                    regularMarketDayLow: 30.85
                    regularMarketVolume: 27631700
                    regularMarketPreviousClose: 30.93
                    regularMarketOpen: 30.54
                    fiftyTwoWeekRange: 28.86 - 40.76
                    fiftyTwoWeekLow: 28.86
                    fiftyTwoWeekHigh: 40.76
                    symbol: PETR4
                    logourl: https://icons.brapi.dev/icons/PETR4.svg
                    usedInterval: 1d
                    usedRange: 5d
                    historicalDataPrice:
                      - date: 1756126800
                        open: 30.47
                        high: 30.78
                        low: 30.42
                        close: 30.65
                        volume: 21075300
                        adjustedClose: 30.65
                      - date: 1756213200
                        open: 30.48
                        high: 30.58
                        low: 30.23
                        close: 30.43
                        volume: 21789700
                        adjustedClose: 30.43
                      - date: 1756299600
                        open: 30.45
                        high: 30.68
                        low: 30.36
                        close: 30.66
                        volume: 16349100
                        adjustedClose: 30.66
                      - date: 1756386000
                        open: 30.78
                        high: 31.13
                        low: 30.71
                        close: 30.93
                        volume: 25802500
                        adjustedClose: 30.93
                      - date: 1756472400
                        open: 30.93
                        high: 31.35
                        low: 30.85
                        close: 31.1
                        volume: 27713400
                        adjustedClose: 31.1
                    validRanges:
                      - 1d
                      - 2d
                      - 5d
                      - 7d
                      - 1mo
                      - 3mo
                      - 6mo
                      - 1y
                      - 2y
                      - 5y
                      - 10y
                      - ytd
                      - max
                    validIntervals:
                      - 1m
                      - 2m
                      - 5m
                      - 15m
                      - 30m
                      - 60m
                      - 90m
                      - 1h
                      - 1d
                      - 5d
                      - 1wk
                      - 1mo
                      - 3mo
                    balanceSheetHistory:
                      - symbol: PETR4
                        type: yearly
                        endDate: 2024-12-31
                        cash: 20254000000
                        shortTermInvestments: 26397000000
                        netReceivables: 22080000000
                        inventory: 41550000000
                        otherCurrentAssets: 12756000000
                        totalCurrentAssets: 135212000000
                        longTermInvestments: 4081000000
                        propertyPlantEquipment: 843917000000
                        otherAssets: 989585000000
                        totalAssets: 1124797000000
                        accountsPayable: 37659000000
                        shortLongTermDebt: 68783000000
                        otherCurrentLiab: 4418000000
                        longTermDebt: 304684000000
                        otherLiab: 3284000000
                        totalCurrentLiabilities: 194808000000
                        totalLiab: 1124797000000
                        commonStock: 205432000000
                        retainedEarnings: null
                        treasuryStock: null
                        otherStockholderEquity: -2457000000
                        totalStockholderEquity: 367514000000
                        netTangibleAssets: null
                        goodWill: null
                        intangibleAssets: 13961000000
                        deferredLongTermAssetCharges: null
                        deferredLongTermLiab: 9100000000
                        minorityInterest: 1508000000
                        capitalSurplus: null
                        taxesToRecover: 12175000000
                        longTermAssets: 989585000000
                        longTermRealizableAssets: 127626000000
                        longTermReceivables: 7777000000
                        longTermDeferredTaxes: 28011000000
                        otherNonCurrentAssets: 88233000000
                        nonCurrentAssets: 1359748000000
                        provisions: 15501000000
                        shareholdersEquity: 367514000000
                        realizedShareCapital: 205432000000
                        capitalReserves: -2457000000
                        profitReserves: 95193000000
                        otherComprehensiveResults: 67838000000
                        currentLiabilities: 194808000000
                        socialAndLaborObligations: 9336000000
                        providers: 37659000000
                        taxObligations: 8671000000
                        loansAndFinancing: 68783000000
                        leaseFinancing: 52896000000
                        otherObligations: 3256000000
                        otherCurrentLiabilities: 4418000000
                        nonCurrentLiabilities: 562475000000
                        longTermLoansAndFinancing: 304684000000
                        longTermLeaseFinancing: 177145000000
                        otherLongTermObligations: 3284000000
                        longTermProvisions: 245407000000
                        updatedAt: 2024-12-31
                    summaryProfile:
                      symbol: PETR4
                      address1: Avenida RepUblica do Chile, 65
                      address2: Centro
                      address3: null
                      city: Rio De Janeiro
                      state: RJ
                      zip: 20031-912
                      country: Brazil
                      phone: 55 21 96940 2116
                      fax: null
                      website: https://petrobras.com.br
                      industry: Oil & Gas Integrated
                      industryKey: oil-gas-integrated
                      industryDisp: Oil & Gas Integrated
                      sector: Energy
                      sectorKey: energy
                      sectorDisp: Energy
                      longBusinessSummary: Petróleo Brasileiro S.A. - Petrobras explores, produces,
                        and sells oil and gas in Brazil and internationally. The
                        company operates through Exploration and Production;
                        Refining, Transportation and Marketing; and Gas and
                        Power. It also engages in prospecting, drilling,
                        refining, processing, trading, and transporting crude
                        oil from producing onshore and offshore oil fields, and
                        shale or other rocks, as well as oil products, natural
                        gas, and other liquid hydrocarbons. The Exploration and
                        Production segment explores, develops, and produces
                        crude oil, natural gas liquids, and natural gas
                        primarily for supplies to the domestic refineries. The
                        Refining, Transportation and Marketing segment engages
                        in the refining, logistics, transport, marketing, and
                        trading of crude oil and oil products; exportation of
                        ethanol; and extraction and processing of shale, as well
                        as holding interests in petrochemical companies. The Gas
                        and Power segment is involved in the logistic and
                        trading of natural gas and electricity; transportation
                        and trading of LNG; generation of electricity through
                        thermoelectric power plants; holding interests in
                        transportation and distribution of natural gas; and
                        fertilizer production and natural gas processing
                        business. In addition, the company produces biodiesel
                        and its co-products, and ethanol; and distributes oil
                        products. Further, it engages in research, development,
                        production, transport, distribution, and trading of
                        energy. Petróleo Brasileiro S.A. - Petrobras was
                        incorporated in 1953 and is headquartered in Rio de
                        Janeiro, Brazil.
                      fullTimeEmployees: 45149
                      companyOfficers: []
                      twitter: null
                      name: null
                      startDate: null
                      description: null
                      updatedAt: 2024-01-09T23:54:52.487Z
                    financialData:
                      symbol: PETR4
                      currentPrice: 35.5
                      ebitda: 204234000000
                      quickRatio: 0.23947
                      currentRatio: 0.69408
                      debtToEquity: 101.6198
                      revenuePerShare: 38.08202
                      returnOnAssets: 0.0329
                      returnOnEquity: 0.1007
                      earningsGrowth: -0.71767
                      revenueGrowth: -0.05016
                      grossMargins: 0.50213
                      ebitdaMargins: 0.4161
                      operatingMargins: 0.27953
                      profitMargins: 0.0754
                      totalCash: 20254000000
                      totalCashPerShare: 1.57145
                      totalDebt: 194808000000
                      totalRevenue: 490829000000
                      grossProfits: 246462000000
                      operatingCashflow: 204037000000
                      freeCashflow: 131674000000
                      financialCurrency: BRL
                      updatedAt: 2025-03-14
                      type: ttm
                    priceEarnings: 5.180656660725292
                    earningsPerShare: 6.0030727
                    dividendsData:
                      cashDividends:
                        - assetIssued: BRPETRACNPR6
                          paymentDate: 2025-02-20T00:00:00.000Z
                          rate: 0.66
                          relatedTo: 1º Trimestre/2025
                          approvedOn: null
                          isinCode: BRPETRACNPR6
                          label: JCP
                          lastDatePrior: 2024-12-23T00:00:00.000Z
                          remarks: ""
                        - assetIssued: BRPETRACNPR6
                          paymentDate: 2024-12-19T00:00:00.000Z
                          rate: 0.53
                          relatedTo: Dezembro/2024
                          approvedOn: 2024-08-07T00:00:00.000Z
                          isinCode: BRPETRACNPR6
                          label: DIVIDENDO
                          lastDatePrior: 2024-08-20T00:00:00.000Z
                          remarks: ""
                      stockDividends:
                        - assetIssued: BRPETRACNPR6
                          factor: 2
                          completeFactor: 2 para 1
                          approvedOn: 2008-03-24T00:00:00.000Z
                          isinCode: BRPETRACNPR6
                          label: DESDOBRAMENTO
                          lastDatePrior: 2008-03-24T00:00:00.000Z
                          remarks: ""
                      subscriptions: []
                  - currency: BRL
                    marketCap: 5470189898
                    shortName: MAGAZ LUIZA ON      NM
                    longName: Magazine Luiza S.A.
                    regularMarketChange: 0.35
                    regularMarketChangePercent: 4.4639999999999995
                    regularMarketTime: 2025-08-29T20:07:54.000Z
                    regularMarketPrice: 8.19
                    regularMarketDayHigh: 8.4
                    regularMarketDayRange: 7.68 - 8.4
                    regularMarketDayLow: 7.68
                    regularMarketVolume: 29307200
                    regularMarketPreviousClose: 7.84
                    regularMarketOpen: 6.97
                    fiftyTwoWeekRange: 5.71 - 12.51
                    fiftyTwoWeekLow: 5.71
                    fiftyTwoWeekHigh: 12.51
                    symbol: MGLU3
                    logourl: https://icons.brapi.dev/icons/MGLU3.svg
                    usedInterval: 1d
                    usedRange: 5d
                    historicalDataPrice:
                      - date: 1756126800
                        open: 6.96
                        high: 7.24
                        low: 6.93
                        close: 7.12
                        volume: 15853100
                        adjustedClose: 7.12
                      - date: 1756213200
                        open: 7.07
                        high: 7.24
                        low: 6.98
                        close: 7
                        volume: 16124700
                        adjustedClose: 7
                      - date: 1756299600
                        open: 6.97
                        high: 7.18
                        low: 6.88
                        close: 7.18
                        volume: 17737000
                        adjustedClose: 7.18
                      - date: 1756386000
                        open: 7.2
                        high: 7.97
                        low: 7.2
                        close: 7.84
                        volume: 43622600
                        adjustedClose: 7.84
                      - date: 1756472400
                        open: 7.77
                        high: 8.4
                        low: 7.68
                        close: 8.19
                        volume: 29438600
                        adjustedClose: 8.19
                    validRanges:
                      - 1d
                      - 2d
                      - 5d
                      - 7d
                      - 1mo
                      - 3mo
                      - 6mo
                      - 1y
                      - 2y
                      - 5y
                      - 10y
                      - ytd
                      - max
                    validIntervals:
                      - 1m
                      - 2m
                      - 5m
                      - 15m
                      - 30m
                      - 60m
                      - 90m
                      - 1h
                      - 1d
                      - 5d
                      - 1wk
                      - 1mo
                      - 3mo
                    balanceSheetHistory:
                      - symbol: MGLU3
                        type: yearly
                        endDate: 2024-12-31
                        cash: 1827197000
                        shortTermInvestments: 337894000
                        netReceivables: 5833528000
                        inventory: 7611132000
                        otherCurrentAssets: 1986827000
                        totalCurrentAssets: 19550824000
                        longTermInvestments: 971862000
                        propertyPlantEquipment: 5070097000
                        otherAssets: 17761034000
                        totalAssets: 37311858000
                        accountsPayable: 10283119000
                        shortLongTermDebt: 1402168000
                        longTermDebt: 3179992000
                        otherLiab: 3217524000
                        totalCurrentLiabilities: 16710550000
                        totalLiab: 37311858000
                        commonStock: 13602498000
                        retainedEarnings: null
                        treasuryStock: null
                        otherStockholderEquity: -3060268000
                        totalStockholderEquity: 11319262000
                        netTangibleAssets: null
                        goodWill: null
                        intangibleAssets: 4482287000
                        deferredLongTermAssetCharges: null
                        deferredLongTermLiab: 74242000
                        capitalSurplus: null
                        taxesToRecover: 1954246000
                        longTermAssets: 17761034000
                        longTermRealizableAssets: 7236788000
                        longTermReceivables: 48553000
                        longTermDeferredTaxes: 3285792000
                        shareholdings: 971862000
                        otherNonCurrentAssets: 3902443000
                        nonCurrentAssets: 17747007000
                        shareholdersEquity: 11319262000
                        realizedShareCapital: 13602498000
                        capitalReserves: -3060268000
                        profitReserves: 905996000
                        otherComprehensiveResults: -128964000
                        currentLiabilities: 16710550000
                        socialAndLaborObligations: 558572000
                        providers: 10283119000
                        nationalSuppliers: 10283119000
                        taxObligations: 363003000
                        loansAndFinancing: 1402168000
                        otherObligations: 3272073000
                        nonCurrentLiabilities: 9282046000
                        longTermLoansAndFinancing: 3179992000
                        otherLongTermObligations: 3217524000
                        longTermProvisions: 1857353000
                        profitsAndRevenuesToBeAppropriated: 952935000
                        updatedAt: 2024-12-31
                      - symbol: MGLU3
                        type: yearly
                        endDate: 2023-12-31
                        cash: 2593346000
                        shortTermInvestments: 779072000
                        netReceivables: 5885450000
                        inventory: 7497299000
                        otherCurrentAssets: 1608461000
                        totalCurrentAssets: 20221163000
                        longTermInvestments: 322516000
                        propertyPlantEquipment: 5184576000
                        otherAssets: 17233904000
                        totalAssets: 37455067000
                        accountsPayable: 9324072000
                        shortLongTermDebt: 2954347000
                        longTermDebt: 4400508000
                        otherLiab: 3208852000
                        totalCurrentLiabilities: 17408127000
                        totalLiab: 37455067000
                        commonStock: 12352498000
                        retainedEarnings: null
                        treasuryStock: null
                        otherStockholderEquity: -3077861000
                        totalStockholderEquity: 9610534000
                        netTangibleAssets: null
                        goodWill: null
                        intangibleAssets: 4504807000
                        deferredLongTermAssetCharges: null
                        deferredLongTermLiab: 105122000
                        capitalSurplus: null
                        taxesToRecover: 1857535000
                        longTermAssets: 17233904000
                        longTermRealizableAssets: 7222005000
                        longTermReceivables: 72691000
                        longTermDeferredTaxes: 2836852000
                        shareholdings: 322516000
                        otherNonCurrentAssets: 4312462000
                        nonCurrentAssets: 17302182000
                        shareholdersEquity: 9610534000
                        realizedShareCapital: 12352498000
                        capitalReserves: -3077861000
                        profitReserves: 457279000
                        otherComprehensiveResults: -121382000
                        currentLiabilities: 17408127000
                        socialAndLaborObligations: 401867000
                        providers: 9324072000
                        nationalSuppliers: 9324072000
                        taxObligations: 359971000
                        loansAndFinancing: 2954347000
                        otherObligations: 3152706000
                        nonCurrentLiabilities: 10436406000
                        longTermLoansAndFinancing: 4400508000
                        otherLongTermObligations: 3208852000
                        longTermProvisions: 1619166000
                        profitsAndRevenuesToBeAppropriated: 1102758000
                        updatedAt: 2023-12-31
                    summaryProfile:
                      symbol: MGLU3
                      address1: Rua Voluntários da, nº 1.465
                      address2: Centro
                      address3: null
                      city: Franca
                      state: SP
                      zip: null
                      country: Brazil
                      phone: null
                      fax: null
                      website: https://www.magazineluiza.com.br
                      industry: Specialty Retail
                      industryKey: specialty-retail
                      industryDisp: Specialty Retail
                      sector: Consumer Cyclical
                      sectorKey: consumer-cyclical
                      sectorDisp: Consumer Cyclical
                      longBusinessSummary: Magazine Luiza S.A. engages in the retail sale of consumer
                        goods. It operates through Retail, Financial Operations,
                        Insurance Operations, and Other Services segments. The
                        company also grants credit and provides extended
                        warranties for its products. In addition, it is involved
                        in the provision of consortium management services; and
                        e-commerce of perfumes, cosmetics, sports, and fashion
                        products, as well as product delivery management and
                        software development services. Further, the company
                        provides integration, logistics, and technological
                        solutions; and manages relation between merchants and
                        marketplaces. The company was founded in 1957 and is
                        headquartered in Franca, Brazil. Magazine Luiza S.A.
                        operates as a subsidiary of LTD Administração e
                        Participação S.A.
                      fullTimeEmployees: null
                      companyOfficers: []
                      twitter: null
                      name: null
                      startDate: null
                      description: null
                      updatedAt: 2024-01-10T01:41:50.950Z
                    financialData:
                      symbol: MGLU3
                      currentPrice: 9.6
                      ebitda: 2895720000
                      quickRatio: 0.12956
                      currentRatio: 1.16997
                      debtToEquity: 40.48108
                      revenuePerShare: 51.47268
                      returnOnAssets: 0.01203
                      returnOnEquity: 0.03964
                      earningsGrowth: 0.42651
                      revenueGrowth: 0.02278
                      grossMargins: 0.30567
                      ebitdaMargins: 0.07613
                      operatingMargins: 0.04108
                      profitMargins: 0.0118
                      totalCash: 1827197000
                      totalCashPerShare: 2.47254
                      totalDebt: 16710550000
                      totalRevenue: 38038068000
                      grossProfits: 11627256000
                      operatingCashflow: 15835331000
                      freeCashflow: 14544725000
                      financialCurrency: BRL
                      updatedAt: 2025-03-14
                      type: ttm
                    priceEarnings: 15.656662206079142
                    earningsPerShare: 0.5238851
                    dividendsData:
                      cashDividends:
                        - assetIssued: BRMGLUACNOR2
                          paymentDate: 2022-05-06T00:00:00.000Z
                          rate: 0.02
                          relatedTo: 2º Trimestre/2022
                          approvedOn: 2022-04-26T00:00:00.000Z
                          isinCode: BRMGLUACNOR2
                          label: JCP
                          lastDatePrior: 2021-07-05T00:00:00.000Z
                          remarks: ""
                        - assetIssued: BRMGLUACNOR2
                          paymentDate: 2022-05-05T00:00:00.000Z
                          rate: 0.02
                          relatedTo: 2º Trimestre/2022
                          approvedOn: 2021-06-29T00:00:00.000Z
                          isinCode: BRMGLUACNOR2
                          label: JCP
                          lastDatePrior: 2021-07-04T00:00:00.000Z
                          remarks: ""
                      stockDividends:
                        - assetIssued: BRMGLUACNOR2
                          factor: 0.1
                          completeFactor: 1 para 10
                          approvedOn: 2024-05-27T00:00:00.000Z
                          isinCode: BRMGLUACNOR2
                          label: GRUPAMENTO
                          lastDatePrior: 2024-05-27T00:00:00.000Z
                          remarks: ""
                      subscriptions: []
                requestedAt: 2025-08-30T15:53:07.499Z
                took: 0ms
        "400":
          description: "**Bad Request.** A requisição foi malformada ou continha
            parâmetros inválidos. Verifique a sintaxe dos tickers e os valores
            dos parâmetros `range`, `interval`, `fundamental`, `dividends` e
            `modules`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: "Campo 'range' inválido. Ranges válidos: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y,
                  5y, 10y, ytd, max"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "402":
          description: "**Payment Required.** O limite de requisições associado ao seu
            token/plano foi atingido. Considere um upgrade ou aguarde a
            renovação do limite."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: Você atingiu o limite de requisições para o seu plano. Por favor,
                  considere fazer um upgrade para um plano melhor em
                  brapi.dev/dashboard
        "404":
          description: "**Not Found.** Um ou mais tickers informados no path não
            correspondem a nenhum ativo conhecido pela API."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: Não encontramos a ação G3X
      security:
        - BearerAuth: []
      x-codeSamples:
        - lang: curl
          source: |-
            curl -X GET "https://brapi.dev/api/quote/PETR4,VALE3?range=5d&interval=1d&fundamental=true" \
              -H "Authorization: Bearer YOUR_TOKEN"
        - lang: typescript
          source: |-
            import Brapi from 'brapi';

            const client = new Brapi({ apiKey: 'YOUR_TOKEN' });
            const quotes = await client.quote.retrieve('PETR4,VALE3', {
              range: '5d',
              interval: '1d',
              fundamental: true,
            });
            console.log(quotes.results[0].regularMarketPrice);
        - lang: python
          source: |-
            from brapi import Brapi

            client = Brapi(api_key='YOUR_TOKEN')
            quotes = client.quote.retrieve(
                tickers='PETR4,VALE3',
                range='5d',
                interval='1d',
                fundamental=True
            )
            print(quotes.results[0].regular_market_price)
      x-aiOptimization:
        answerDensity: high
        requiresAuth: true
        responseFormat: json
        dataSources:
          - B3
          - CVM
        aiExtractionHint: Primary endpoint for stock quotes. Returns comprehensive
          price, fundamental, and historical data. Optimized for financial
          analysis and investment research.
  /api/quote/list:
    get:
      tags:
        - Ações
      summary: Listar e Filtrar Cotações de Ativos
      description: |-
        Obtenha uma lista paginada de cotações de diversos ativos (ações, FIIs, BDRs) negociados na B3, com opções avançadas de busca, filtragem e ordenação.

        ### Funcionalidades:

        *   **Busca por Ticker:** Filtre por parte do ticker usando `search`.
        *   **Filtragem por Tipo:** Restrinja a lista a `stock`, `fund` (FII) ou `bdr` com o parâmetro `type`.
        *   **Filtragem por Setor:** Selecione ativos de um setor específico usando `sector`.
        *   **Ordenação:** Ordene os resultados por diversos campos (preço, variação, volume, etc.) usando `sortBy` e `sortOrder`.
        *   **Paginação:** Controle o número de resultados por página (`limit`) e a página desejada (`page`).

        ### Autenticação:

        Requer token de autenticação via `token` (query) ou `Authorization` (header).

        ### Exemplo de Requisição:

        **Listar as 10 ações do setor Financeiro com maior volume, ordenadas de forma decrescente:**

        ```bash
        curl -X GET "https://brapi.dev/api/quote/list?sector=Finance&sortBy=volume&sortOrder=desc&limit=10&page=1&token=SEU_TOKEN"
        ```

        **Buscar por ativos cujo ticker contenha 'ITUB' e ordenar por nome ascendente:**

        ```bash
        curl -X GET "https://brapi.dev/api/quote/list?search=ITUB&sortBy=name&sortOrder=asc&token=SEU_TOKEN"
        ```

        ### Resposta:

        A resposta contém a lista de `stocks` (e `indexes` relevantes), informações sobre os filtros aplicados, detalhes da paginação (`currentPage`, `totalPages`, `itemsPerPage`, `totalCount`, `hasNextPage`) e listas de setores (`availableSectors`) e tipos (`availableStockTypes`) disponíveis para filtragem.
      operationId: getQuoteList
      parameters:
        - name: search
          in: query
          description: "**Opcional.** Termo para buscar ativos por ticker (correspondência
            parcial). Ex: `PETR` encontrará `PETR4`, `PETR3`."
          required: false
          schema:
            type: string
          example: PETR
        - name: sortBy
          in: query
          description: "**Opcional.** Campo pelo qual os resultados serão ordenados."
          required: false
          schema:
            type: string
            enum:
              - name
              - close
              - change
              - change_abs
              - volume
              - market_cap_basic
              - sector
            description: |-
              Campos disponíveis para ordenação:
              * `name`: Nome do ativo.
              * `close`: Preço de fechamento.
              * `change`: Variação percentual.
              * `change_abs`: Variação absoluta (valor).
              * `volume`: Volume negociado.
              * `market_cap_basic`: Capitalização de mercado.
              * `sector`: Setor de atuação.
          example: close
        - name: sortOrder
          in: query
          description: "**Opcional.** Direção da ordenação: `asc` (ascendente) ou `desc`
            (descendente). Requer que `sortBy` seja especificado."
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
          example: desc
        - name: limit
          in: query
          description: "**Opcional.** Número máximo de ativos a serem retornados por
            página. O valor padrão pode variar."
          required: false
          schema:
            type: integer
            minimum: 1
          example: 10
        - name: page
          in: query
          description: "**Opcional.** Número da página dos resultados a ser retornada,
            considerando o `limit` especificado. Começa em 1."
          required: false
          schema:
            type: integer
            minimum: 1
          example: 1
        - name: type
          in: query
          description: "**Opcional.** Filtra os resultados por tipo de ativo."
          required: false
          schema:
            type: string
            enum:
              - stock
              - fund
              - bdr
            description: >-
              Tipos de ativos:

              * `stock`: Ação.

              * `fund`: Fundo (geralmente FII - Fundo de Investimento
              Imobiliário).

              * `bdr`: Brazilian Depositary Receipt.
          example: stock
        - name: sector
          in: query
          description: "**Opcional.** Filtra os resultados por setor de atuação da
            empresa. Utilize um dos valores retornados em `availableSectors`."
          required: false
          schema:
            type: string
            enum:
              - Retail Trade
              - Energy Minerals
              - Health Services
              - Utilities
              - Finance
              - Consumer Services
              - Consumer Non-Durables
              - Non-Energy Minerals
              - Commercial Services
              - Distribution Services
              - Transportation
              - Technology Services
              - Process Industries
              - Communications
              - Producer Manufacturing
              - Miscellaneous
              - Electronic Technology
              - Industrial Services
              - Health Technology
              - Consumer Durables
            description: Nome exato do setor (sensível a maiúsculas/minúsculas e espaços).
              Consulte a chave `availableSectors` na resposta para obter a lista
              completa e atualizada.
          example: Energy Minerals
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna a lista paginada e filtrada de ativos,
            juntamente com metadados de paginação e filtros disponíveis."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteListResponse"
              examples:
                success:
                  value:
                    indexes:
                      - stock: ^BVSP
                        name: IBOVESPA
                    stocks:
                      - stock: PETR4
                        name: PETROBRAS PN
                        close: 36.71
                        change: 3.26
                        volume: 87666300
                        market_cap: 497695817728
                        logo: https://icons.brapi.dev/icons/PETR4.svg
                        sector: Energy Minerals
                        type: stock
                    availableSectors:
                      - Energy Minerals
                      - Finance
                      - ...
                    availableStockTypes:
                      - stock
                      - fund
                      - bdr
                    currentPage: 1
                    totalPages: 5
                    itemsPerPage: 10
                    totalCount: 45
                    hasNextPage: true
                empty:
                  value:
                    indexes: []
                    stocks: []
                    availableSectors: []
                    availableStockTypes: []
                    currentPage: 1
                    totalPages: 0
                    itemsPerPage: 10
                    totalCount: 0
                    hasNextPage: false
                  summary: Nenhum ativo encontrado com os filtros aplicados
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "417":
          description: "**Expectation Failed.** Requisição malformada ou parâmetro
            inválido. Geralmente ocorre se um valor inválido for fornecido para
            `sortBy`, `sortOrder`, `type`, `sector` ou se `limit`/`page` não
            forem números inteiros positivos."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: "Campo 'sortBy' inválido. sortBy válidos: name, close, change,
                  change_abs, volume, market_cap_basic, sector"
      security:
        - BearerAuth: []
      x-codeSamples:
        - lang: curl
          source: |-
            curl -X GET "https://brapi.dev/api/quote/list?search=petroleo&type=stock&limit=10" \
              -H "Authorization: Bearer YOUR_TOKEN"
        - lang: typescript
          source: |-
            import Brapi from 'brapi';

            const client = new Brapi({ apiKey: 'YOUR_TOKEN' });
            const stocks = await client.quote.list({
              search: 'petroleo',
              type: 'stock',
              limit: 10,
              sortBy: 'marketCap',
              sortOrder: 'desc',
            });
            console.log(stocks.stocks);
        - lang: python
          source: |-
            from brapi import Brapi

            client = Brapi(api_key='YOUR_TOKEN')
            stocks = client.quote.list(
                search='petroleo',
                type='stock',
                limit=10,
                sort_by='marketCap',
                sort_order='desc'
            )
            print(stocks.stocks)
      x-aiOptimization:
        answerDensity: high
        requiresAuth: true
        responseFormat: json
        dataSources:
          - B3
        aiExtractionHint: Use for stock discovery and filtering. Supports search,
          pagination, and multi-criteria sorting.
  /api/available:
    get:
      tags:
        - Ações
      summary: Listar Todos os Tickers Disponíveis na API
      description: >-
        Obtenha uma lista completa de todos os tickers (identificadores) de
        ativos financeiros (ações, FIIs, BDRs, ETFs, índices) que a API Brapi
        tem dados disponíveis para consulta no endpoint `/api/quote/{tickers}`.


        ### Funcionalidade:


        *   Retorna arrays separados para `indexes` (índices) e `stocks` (outros
        ativos).

        *   Pode ser filtrado usando o parâmetro `search` para encontrar tickers
        específicos.


        ### Autenticação:


        Requer token de autenticação via `token` (query) ou `Authorization`
        (header).


        ### Exemplo de Requisição:


        **Listar todos os tickers disponíveis:**


        ```bash

        curl -X GET "https://brapi.dev/api/available?token=SEU_TOKEN"

        ```


        **Buscar tickers que contenham 'BBDC':**


        ```bash

        curl -X GET
        "https://brapi.dev/api/available?search=BBDC&token=SEU_TOKEN"

        ```


        ### Resposta:


        A resposta é um objeto JSON com duas chaves:


        *   `indexes`: Array de strings contendo os tickers dos índices
        disponíveis (ex: `["^BVSP", "^IFIX"]`).

        *   `stocks`: Array de strings contendo os tickers das ações, FIIs, BDRs
        e ETFs disponíveis (ex: `["PETR4", "VALE3", "ITSA4", "MXRF11"]`).
      operationId: getAvailableTickers
      parameters:
        - name: search
          in: query
          description: "**Opcional.** Termo para filtrar a lista de tickers
            (correspondência parcial, case-insensitive). Se omitido, retorna
            todos os tickers."
          required: false
          schema:
            type: string
          example: PETR
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna a lista de tickers disponíveis, possivelmente
            filtrada pelo parâmetro `search`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailableTickersResponse"
              examples:
                success:
                  value:
                    indexes:
                      - ^BVSP
                    stocks:
                      - PETR4
                      - PETR3
                      - VALE3
                empty:
                  value:
                    indexes: []
                    stocks: []
                  summary: Nenhum ticker encontrado para o critério de busca
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      security:
        - BearerAuth: []
  /api/v2/crypto:
    get:
      tags:
        - Criptomoedas
      summary: Buscar Cotação Detalhada de Criptomoedas
      description: |-
        Obtenha cotações atualizadas e dados históricos para uma ou mais criptomoedas.

        ### Funcionalidades:

        *   **Cotação Múltipla:** Consulte várias criptomoedas em uma única requisição usando o parâmetro `coin`.
        *   **Moeda de Referência:** Especifique a moeda fiduciária para a cotação com `currency` (padrão: BRL).
        *   **Dados Históricos:** Solicite séries históricas usando `range` e `interval` (similar ao endpoint de ações).

        ### Autenticação:

        Requer token de autenticação via `token` (query) ou `Authorization` (header).

        ### Exemplo de Requisição:

        **Cotação de Bitcoin (BTC) e Ethereum (ETH) em Dólar Americano (USD):**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/crypto?coin=BTC,ETH&currency=USD&token=SEU_TOKEN"
        ```

        **Cotação de Cardano (ADA) em Real (BRL) com histórico do último mês (intervalo diário):**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/crypto?coin=ADA&currency=BRL&range=1mo&interval=1d&token=SEU_TOKEN"
        ```

        ### Resposta:

        A resposta contém um array `coins`, onde cada objeto representa uma criptomoeda solicitada, incluindo sua cotação atual, dados de mercado e, opcionalmente, a série histórica (`historicalDataPrice`).
      operationId: getCryptoQuote
      parameters:
        - name: coin
          in: query
          description: >-
            **Obrigatório.** Uma ou mais siglas (tickers) de criptomoedas que
            você deseja consultar. Separe múltiplas siglas por vírgula (`,`). 


            *   **Exemplos:** `BTC`, `ETH,ADA`, `SOL`.
          required: true
          schema:
            type: string
          example: BTC,ETH
        - name: currency
          in: query
          description: "**Opcional.** A sigla da moeda fiduciária na qual a cotação da(s)
            criptomoeda(s) deve ser retornada. Se omitido, o padrão é `BRL`
            (Real Brasileiro)."
          required: false
          schema:
            type: string
            default: BRL
          example: USD
        - name: range
          in: query
          description: >-
            **Opcional.** Define o período para os dados históricos de preço
            (`historicalDataPrice`). Funciona de forma análoga ao endpoint de
            ações. Se omitido, apenas a cotação mais recente é retornada (a
            menos que `interval` seja usado).


            *   Valores: `1d`, `5d`, `1mo`, `3mo`, `6mo`, `1y`, `2y`, `5y`,
            `10y`, `ytd`, `max`.
          required: false
          schema:
            type: string
            enum:
              - 1d
              - 5d
              - 1mo
              - 3mo
              - 6mo
              - 1y
              - 2y
              - 5y
              - 10y
              - ytd
              - max
          example: 1mo
        - name: interval
          in: query
          description: >-
            **Opcional.** Define a granularidade (intervalo) dos dados
            históricos de preço (`historicalDataPrice`). Requer que `range`
            também seja especificado. Funciona de forma análoga ao endpoint de
            ações.


            *   Valores: `1m`, `2m`, `5m`, `15m`, `30m`, `60m`, `90m`, `1h`,
            `1d`, `5d`, `1wk`, `1mo`, `3mo`.
          required: false
          schema:
            type: string
            enum:
              - 1m
              - 2m
              - 5m
              - 15m
              - 30m
              - 60m
              - 90m
              - 1h
              - 1d
              - 5d
              - 1wk
              - 1mo
              - 3mo
          example: 1d
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna os dados das criptomoedas solicitadas,
            incluindo cotação e, opcionalmente, dados históricos."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CryptoResponse"
        "400":
          description: "**Bad Request.** A requisição pode estar malformada, um parâmetro
            `range` ou `interval` pode ser inválido, ou uma das criptomoedas
            (`coin`) solicitadas pode não ser suportada ou encontrada."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: Something went wrong while fetching the data
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "417":
          description: "**Expectation Failed.** Parâmetro obrigatório ausente. Geralmente
            ocorre se o parâmetro `coin` não for fornecido."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: "Missing required parameter: `coin`"
      security:
        - BearerAuth: []
      x-codeSamples:
        - lang: curl
          source: >-
            curl -X GET
            "https://brapi.dev/api/v2/crypto?coin=BTC,ETH&currency=BRL" \
              -H "Authorization: Bearer YOUR_TOKEN"
        - lang: typescript
          source: |-
            import Brapi from 'brapi';

            const client = new Brapi({ apiKey: 'YOUR_TOKEN' });
            const crypto = await client.crypto.retrieve({
              coin: 'BTC,ETH',
              currency: 'BRL',
            });
            console.log(crypto.coins);
        - lang: python
          source: |-
            from brapi import Brapi

            client = Brapi(api_key='YOUR_TOKEN')
            crypto = client.crypto.retrieve(
                coin='BTC,ETH',
                currency='BRL'
            )
            print(crypto.coins)
      x-aiOptimization:
        answerDensity: high
        requiresAuth: true
        responseFormat: json
        dataSources:
          - CoinMarketCap
        aiExtractionHint: Cryptocurrency market data. Returns current prices and 24h
          metrics for multiple coins.
  /api/v2/crypto/available:
    get:
      tags:
        - Criptomoedas
      summary: Listar Todas as Criptomoedas Disponíveis
      description: >-
        Obtenha a lista completa de todas as siglas (tickers) de criptomoedas
        que a API Brapi suporta para consulta no endpoint `/api/v2/crypto`.


        ### Funcionalidade:


        *   Retorna um array `coins` com as siglas.

        *   Pode ser filtrado usando o parâmetro `search`.


        ### Autenticação:


        Requer token de autenticação via `token` (query) ou `Authorization`
        (header).


        ### Exemplo de Requisição:


        **Listar todas as criptomoedas disponíveis:**


        ```bash

        curl -X GET "https://brapi.dev/api/v2/crypto/available?token=SEU_TOKEN"

        ```


        **Buscar criptomoedas cujo ticker contenha 'DOGE':**


        ```bash

        curl -X GET
        "https://brapi.dev/api/v2/crypto/available?search=DOGE&token=SEU_TOKEN"

        ```


        ### Resposta:


        A resposta é um objeto JSON com a chave `coins`, contendo um array de
        strings com as siglas das criptomoedas (ex: `["BTC", "ETH", "LTC",
        "XRP"]`).
      operationId: getAvailableCrypto
      parameters:
        - name: search
          in: query
          description: "**Opcional.** Termo para filtrar a lista de siglas de criptomoedas
            (correspondência parcial, case-insensitive). Se omitido, retorna
            todas as siglas."
          required: false
          schema:
            type: string
          example: BTC
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna a lista de siglas de criptomoedas
            disponíveis, possivelmente filtrada."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CryptoAvailableResponse"
              example:
                coins:
                  - BTC
                  - ETH
                  - LTC
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: "**Not Found.** Nenhuma criptomoeda encontrada correspondendo ao
            critério de busca (`search`) informado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: Coin not found
      security:
        - BearerAuth: []
  /api/v2/currency:
    get:
      tags:
        - Moedas
      summary: Buscar Cotação de Pares de Moedas Fiduciárias
      description: >+
        Obtenha cotações atualizadas para um ou mais pares de moedas fiduciárias
        (ex: USD-BRL, EUR-USD).


        ### Funcionalidades:


        *   **Cotação Múltipla:** Consulte vários pares de moedas em uma única
        requisição usando o parâmetro `currency`.

        *   **Dados Retornados:** Inclui nome do par, preços de compra (bid) e
        venda (ask), variação, máximas e mínimas, e timestamp da atualização.


        ### Parâmetros:


        *   **`currency` (Obrigatório):** Uma lista de pares de moedas separados
        por vírgula, no formato `MOEDA_ORIGEM-MOEDA_DESTINO` (ex: `USD-BRL`,
        `EUR-USD`). Consulte os pares disponíveis em
        [`/api/v2/currency/available`](#/Moedas/getAvailableCurrencies).

        *   **`token` (Obrigatório):** Seu token de autenticação.


        ### Autenticação:


        Requer token de autenticação válido via `token` (query) ou
        `Authorization` (header).

      operationId: getCurrencyQuote
      parameters:
        - name: currency
          in: query
          description: >-
            **Obrigatório.** Uma lista de um ou mais pares de moedas a serem
            consultados, separados por vírgula (`,`). 


            *   **Formato:** `MOEDA_ORIGEM-MOEDA_DESTINO` (ex: `USD-BRL`).

            *   **Disponibilidade:** Consulte os pares válidos usando o endpoint
            [`/api/v2/currency/available`](#/Moedas/getAvailableCurrencies).

            *   **Exemplo:** `USD-BRL,EUR-BRL,BTC-BRL`
          required: true
          schema:
            type: string
            example: USD-BRL,EUR-USD
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso (OK).** A requisição foi bem-sucedida e as cotações dos
            pares de moedas solicitados foram retornadas no array `currency`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyResponse"
        "400":
          description: "**Bad Request (Requisição Inválida).** A requisição foi
            malformada, um par de moeda no parâmetro `currency` é inválido, não
            existe ou houve outro erro ao buscar os dados."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: Algo deu errado ao buscar essa moeda
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "417":
          description: "**Expectation Failed (Falha na Expectativa).** O parâmetro
            obrigatório `currency` não foi fornecido na requisição."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: "Não foi possível encontrar o parâmetro obrigatório: 'currency',
                  exemplo: https://brapi.dev/api/v2/currency?currency=USD-BRL"
      security:
        - BearerAuth: []
      x-codeSamples:
        - lang: curl
          source: curl -X GET "https://brapi.dev/api/v2/currency?currency=USD-BRL,EUR-BRL"
        - lang: typescript
          source: |-
            import Brapi from 'brapi';

            const client = new Brapi({ apiKey: 'YOUR_TOKEN' });
            const rates = await client.currency.retrieve({
              currency: 'USD-BRL,EUR-BRL',
            });
            console.log(rates.currency);
        - lang: python
          source: |-
            from brapi import Brapi

            client = Brapi(api_key='YOUR_TOKEN')
            rates = client.currency.retrieve(
                currency='USD-BRL,EUR-BRL'
            )
            print(rates.currency)
      x-aiOptimization:
        answerDensity: medium
        requiresAuth: false
        responseFormat: json
        dataSources:
          - BCB
          - XE
        aiExtractionHint: Currency exchange rates with real-time updates.
  /api/v2/currency/available:
    get:
      tags:
        - Moedas
      summary: Listar Todas as Moedas Fiduciárias Disponíveis
      description: |-
        Obtenha a lista completa de todas as moedas fiduciárias suportadas pela API, geralmente utilizadas no parâmetro `currency` de outros endpoints (como o de criptomoedas) ou para futuras funcionalidades de conversão.

        ### Funcionalidade:

        *   Retorna um array `currencies` com os nomes das moedas.
        *   Pode ser filtrado usando o parâmetro `search`.

        ### Autenticação:

        Requer token de autenticação via `token` (query) ou `Authorization` (header).

        ### Exemplo de Requisição:

        **Listar todas as moedas disponíveis:**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/currency/available?token=SEU_TOKEN"
        ```

        **Buscar moedas cujo nome contenha 'Euro':**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/currency/available?search=Euro&token=SEU_TOKEN"
        ```

        ### Resposta:

        A resposta é um objeto JSON com a chave `currencies`, contendo um array de objetos. Cada objeto possui uma chave `currency` com o nome completo da moeda (ex: `"Dólar Americano/Real Brasileiro"`). **Nota:** O formato do nome pode indicar um par de moedas, dependendo do contexto interno da API.
      operationId: getAvailableCurrencies
      parameters:
        - name: search
          in: query
          description: "**Opcional.** Termo para filtrar a lista pelo nome da moeda
            (correspondência parcial, case-insensitive)."
          required: false
          schema:
            type: string
          example: Real
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna a lista de moedas disponíveis, possivelmente
            filtrada."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyAvailableResponse"
              example:
                currencies:
                  - name: USD-BRL
                    currency: Dólar Americano/Real Brasileiro
                  - name: EUR-BRL
                    currency: Euro/Real Brasileiro
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: "**Not Found.** Nenhuma moeda encontrada correspondendo ao critério
            de busca (`search`) informado."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: Currency not found
      security:
        - BearerAuth: []
  /api/v2/inflation:
    get:
      tags:
        - Inflação
      summary: Buscar Dados Históricos de Inflação por País
      description: |-
        Obtenha dados históricos sobre índices de inflação para um país específico.

        ### Funcionalidades:

        *   **Seleção de País:** Especifique o país desejado com o parâmetro `country` (padrão: `brazil`).
        *   **Filtragem por Período:** Defina um intervalo de datas com `start` e `end` (formato DD/MM/YYYY).
        *   **Inclusão de Histórico:** O parâmetro `historical` (booleano) parece controlar a inclusão de dados históricos (verificar comportamento exato, pode ser redundante com `start`/`end`).
        *   **Ordenação:** Ordene os resultados por data (`date`) ou valor (`value`) usando `sortBy` e `sortOrder`.

        ### Autenticação:

        Requer token de autenticação via `token` (query) ou `Authorization` (header).

        ### Exemplo de Requisição:

        **Buscar dados de inflação do Brasil para o ano de 2022, ordenados por valor ascendente:**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/inflation?country=brazil&start=01/01/2022&end=31/12/2022&sortBy=value&sortOrder=asc&token=SEU_TOKEN"
        ```

        **Buscar os dados mais recentes de inflação (sem período definido, ordenação padrão):**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/inflation?country=brazil&token=SEU_TOKEN"
        ```

        ### Resposta:

        A resposta contém um array `inflation`, onde cada objeto representa um ponto de dado de inflação com sua `date` (DD/MM/YYYY), `value` (o índice de inflação como string) e `epochDate` (timestamp UNIX).
      operationId: getInflation
      parameters:
        - name: country
          in: query
          description: "**Opcional.** Nome do país para o qual buscar os dados de
            inflação. Use nomes em minúsculas. O padrão é `brazil`. Consulte
            `/api/v2/inflation/available` para a lista de países suportados."
          required: false
          schema:
            type: string
            default: brazil
          example: brazil
        - name: historical
          in: query
          description: "**Opcional.** Booleano (`true` ou `false`). Define se dados
            históricos devem ser incluídos. O comportamento exato em conjunto
            com `start`/`end` deve ser verificado. Padrão: `false`."
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: start
          in: query
          description: "**Opcional.** Data de início do período desejado para os dados
            históricos, no formato `DD/MM/YYYY`. Requerido se `end` for
            especificado."
          required: false
          schema:
            type: string
            format: date
            pattern: ^\d{2}/\d{2}/\d{4}$
          example: 01/01/2020
        - name: end
          in: query
          description: "**Opcional.** Data final do período desejado para os dados
            históricos, no formato `DD/MM/YYYY`. Requerido se `start` for
            especificado."
          required: false
          schema:
            type: string
            format: date
            pattern: ^\d{2}/\d{2}/\d{4}$
          example: 31/12/2020
        - name: sortBy
          in: query
          description: "**Opcional.** Campo pelo qual os resultados da inflação serão
            ordenados."
          required: false
          schema:
            type: string
            enum:
              - date
              - value
            default: date
            description: |-
              Campos disponíveis:
              * `date`: Data da medição.
              * `value`: Valor do índice de inflação.
          example: value
        - name: sortOrder
          in: query
          description: "**Opcional.** Direção da ordenação: `asc` (ascendente) ou `desc`
            (descendente). Padrão: `desc`. Requer que `sortBy` seja
            especificado."
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          example: asc
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna os dados históricos de inflação para o país e
            período solicitados."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InflationResponse"
        "400":
          description: "**Bad Request.** A requisição pode estar malformada, um parâmetro
            como `start`/`end` pode ter formato inválido, ou o país solicitado
            pode não ser encontrado."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: Something went wrong while fetching the data
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "417":
          description: "**Expectation Failed.** Valor de parâmetro inválido. Geralmente
            ocorre se um valor inválido for fornecido para `sortBy` ou
            `sortOrder`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: "this query value is not available, please use one of the following:
                  asc,desc"
      security:
        - BearerAuth: []
      x-codeSamples:
        - lang: curl
          source: curl -X GET
            "https://brapi.dev/api/v2/inflation?country=brazil&historical=true&start=2024-01-01"
        - lang: typescript
          source: |-
            import Brapi from 'brapi';

            const client = new Brapi({ apiKey: 'YOUR_TOKEN' });
            const inflation = await client.inflation.retrieve({
              country: 'brazil',
              historical: true,
              start: '2024-01-01',
            });
            console.log(inflation.inflation);
        - lang: python
          source: |-
            from brapi import Brapi

            client = Brapi(api_key='YOUR_TOKEN')
            inflation = client.inflation.retrieve(
                country='brazil',
                historical=True,
                start='2024-01-01'
            )
            print(inflation.inflation)
      x-aiOptimization:
        answerDensity: medium
        requiresAuth: false
        responseFormat: json
        dataSources:
          - IBGE
          - BCB
        aiExtractionHint: Brazilian inflation indices (IPCA, IGPM) with historical data.
  /api/v2/inflation/available:
    get:
      tags:
        - Inflação
      summary: Listar Países com Dados de Inflação Disponíveis
      description: |-
        Obtenha a lista completa de todos os países para os quais a API Brapi possui dados de inflação disponíveis para consulta no endpoint `/api/v2/inflation`.

        ### Funcionalidade:

        *   Retorna um array `countries` com os nomes dos países (em minúsculas).
        *   Pode ser filtrado usando o parâmetro `search`.

        ### Autenticação:

        Requer token de autenticação via `token` (query) ou `Authorization` (header).

        ### Exemplo de Requisição:

        **Listar todos os países com dados de inflação:**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/inflation/available?token=SEU_TOKEN"
        ```

        **Buscar países cujo nome contenha 'arg':**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/inflation/available?search=arg&token=SEU_TOKEN"
        ```

        ### Resposta:

        A resposta é um objeto JSON com a chave `countries`, contendo um array de strings com os nomes dos países (ex: `["brazil", "argentina", "usa"]`).
      operationId: getAvailableInflationCountries
      parameters:
        - name: search
          in: query
          description: "**Opcional.** Termo para filtrar a lista pelo nome do país
            (correspondência parcial, case-insensitive). Se omitido, retorna
            todos os países."
          required: false
          schema:
            type: string
          example: bra
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna a lista de países disponíveis, possivelmente
            filtrada."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InflationAvailableResponse"
              example:
                countries:
                  - brazil
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: "**Not Found.** Nenhum país encontrado correspondendo ao critério
            de busca (`search`) informado."
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              example:
                message: Country not found
      security:
        - BearerAuth: []
  /api/v2/prime-rate:
    get:
      tags:
        - Taxa de Juros
      summary: Buscar Taxa Básica de Juros (SELIC) de um País por um Período Determinado
      description: |-
        Obtenha informações atualizadas sobre a taxa básica de juros (SELIC) de um país por um período determinado.

        ### Funcionalidades:

        *   **Seleção por País:** Especifique o país desejado usando o parâmetro `country` (padrão: brazil).
        *   **Período Customizado:** Defina datas de início e fim com `start` e `end` para consultar um intervalo específico.
        *   **Ordenação:** Ordene os resultados por data ou valor com os parâmetros `sortBy` e `sortOrder`.
        *   **Dados Históricos:** Solicite o histórico completo ou apenas o valor mais recente com o parâmetro `historical`.

        ### Autenticação:

        Requer token de autenticação via `token` (query) ou `Authorization` (header).

        ### Exemplo de Requisição:

        **Taxa de juros do Brasil entre dezembro/2021 e janeiro/2022:**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/prime-rate?country=brazil&start=01/12/2021&end=01/01/2022&sortBy=date&sortOrder=desc&token=SEU_TOKEN"
        ```
      operationId: getPrimeRate
      parameters:
        - name: country
          in: query
          description: "**Opcional.** O país do qual você deseja obter informações sobre a
            taxa básica de juros. Por padrão, o país é definido como brazil.
            Você pode consultar a lista de países disponíveis através do
            endpoint `/api/v2/prime-rate/available`."
          required: false
          schema:
            type: string
            default: brazil
          example: brazil
        - name: historical
          in: query
          description: "**Opcional.** Define se os dados históricos serão retornados. Se
            definido como `true`, retorna a série histórica completa. Se `false`
            (padrão) ou omitido, retorna apenas o valor mais recente."
          required: false
          schema:
            type: boolean
            default: false
          example: true
        - name: start
          in: query
          description: "**Opcional.** Data inicial do período para busca no formato
            DD/MM/YYYY. Útil quando `historical=true` para restringir o período
            da série histórica."
          required: false
          schema:
            type: string
            format: date
          example: 01/12/2021
        - name: end
          in: query
          description: "**Opcional.** Data final do período para busca no formato
            DD/MM/YYYY. Por padrão é a data atual. Útil quando `historical=true`
            para restringir o período da série histórica."
          required: false
          schema:
            type: string
            format: date
          example: 01/01/2022
        - name: sortBy
          in: query
          description: "**Opcional.** Campo pelo qual os resultados serão ordenados. Por
            padrão, ordena por `date` (data)."
          required: false
          schema:
            type: string
            enum:
              - date
              - value
            default: date
          example: date
        - name: sortOrder
          in: query
          description: "**Opcional.** Define se a ordenação será crescente (`asc`) ou
            decrescente (`desc`). Por padrão, é `desc` (decrescente)."
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          example: desc
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna os dados da taxa básica de juros (SELIC)
            conforme os parâmetros fornecidos."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrimeRateResponse"
        "400":
          description: "**Bad Request.** A requisição está malformada ou um dos parâmetros
            fornecidos é inválido."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: Something went wrong while fetching the data
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "417":
          description: "**Expectation Failed.** Um valor de parâmetro fornecido é inválido
            ou não está disponível."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: true
                message: "this query value is not available, please use one of the following:
                  asc,desc"
      security:
        - BearerAuth: []
  /api/v2/prime-rate/available:
    get:
      tags:
        - Taxa de Juros
      summary: Listar Todos Os Possíveis Países com Taxa Básica de Juros (SELIC)
        Suportados
      description: |-
        Liste todos os países disponíveis com dados de taxa básica de juros (SELIC) na API brapi. Este endpoint facilita a descoberta de quais países possuem dados disponíveis para consulta através do endpoint principal `/api/v2/prime-rate`.

        ### Funcionalidades:

        *   **Busca Filtrada:** Utilize o parâmetro `search` para filtrar países por nome ou parte do nome.
        *   **Ideal para Autocomplete:** Perfeito para implementar campos de busca com autocompletar em interfaces de usuário.

        ### Autenticação:

        Requer token de autenticação via `token` (query) ou `Authorization` (header).

        ### Exemplo de Requisição:

        **Listar países que contenham "BR" no nome:**

        ```bash
        curl -X GET "https://brapi.dev/api/v2/prime-rate/available?search=BR&token=SEU_TOKEN"
        ```
      operationId: getPrimeRateAvailableCountries
      parameters:
        - name: search
          in: query
          description: "**Opcional.** Termo para filtrar a lista de países por nome.
            Retorna países cujos nomes contenham o termo especificado (case
            insensitive)."
          required: false
          schema:
            type: string
          example: BR
        - $ref: "#/components/parameters/Token"
      responses:
        "200":
          description: "**Sucesso.** Retorna a lista de países com dados de taxa básica de
            juros disponíveis, possivelmente filtrada pelo termo de busca."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrimeRateAvailableResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          description: "**Not Found.** Não foi encontrado nenhum país correspondente ao
            termo de busca fornecido."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                message: Country not found
      security:
        - BearerAuth: []
  /api/sdks:
    get:
      summary: Documentação das SDKs Oficiais
      description: >-
        Informações completas sobre as SDKs oficiais da brapi.dev para
        TypeScript/JavaScript e Python.


        ## SDK TypeScript/JavaScript


        **Instalação:**

        ```bash

        npm install brapi

        ```


        **Uso Básico:**

        ```typescript

        import Brapi from 'brapi';


        const client = new Brapi({
          apiKey: process.env.BRAPI_API_KEY,
        });


        // Buscar cotações com tipos completos

        const quote = await client.quote.retrieve('PETR4,VALE3');

        console.log(quote.results[0].regularMarketPrice);


        // Múltiplos ativos

        const quotes = await client.quote.retrieve('ITUB4,BBDC4,MGLU3');

        quotes.results.forEach(stock => {
          console.log(`${stock.symbol}: R$ ${stock.regularMarketPrice}`);
        });

        ```


        **Recursos:**

        - ✅ Tipos completos com IntelliSense

        - ✅ Suporte a Node.js e navegador

        - ✅ Retry automático com backoff exponencial

        - ✅ Tratamento de erros tipado

        - ✅ Documentação integrada no editor


        **GitHub:** https://github.com/brapi-dev/brapi-typescript


        ## SDK Python


        **Instalação:**

        ```bash

        pip install brapi

        ```


        **Uso Básico (Síncrono):**

        ```python

        from brapi import Brapi


        client = Brapi(api_key="seu_token")


        # Buscar cotações com type hints

        quote = client.quote.retrieve(tickers="PETR4,VALE3")

        print(quote.results[0].regular_market_price)


        # Múltiplos ativos

        quotes = client.quote.retrieve(tickers="ITUB4,BBDC4,MGLU3")

        for stock in quotes.results:
            print(f"{stock.symbol}: R$ {stock.regular_market_price}")
        ```


        **Uso Básico (Assíncrono):**

        ```python

        import asyncio

        from brapi import AsyncBrapi


        async def main():
            client = AsyncBrapi(api_key="seu_token")
            quote = await client.quote.retrieve(tickers="PETR4,VALE3")
            print(quote.results[0].regular_market_price)

        asyncio.run(main())

        ```


        **Recursos:**

        - ✅ Suporte síncrono e assíncrono

        - ✅ Type hints completos com Pydantic

        - ✅ Compatível com Python 3.8+

        - ✅ Retry automático inteligente

        - ✅ Validação de dados automática


        **GitHub:** https://github.com/brapi-dev/brapi-python


        ## Vantagens das SDKs


        Comparado com requisições HTTP manuais:


        - **60% menos código** - Sintaxe simples e direta

        - **Tipos completos** - IntelliSense e autocomplete

        - **Retry automático** - Tratamento inteligente de falhas

        - **Erros tipados** - Exceções específicas por status

        - **Menos erros** - Validação automática de parâmetros

        - **Documentação integrada** - Ajuda contextual no editor


        ## Exemplo Comparativo


        **Com SDK TypeScript:**

        ```typescript

        const client = new Brapi({ apiKey: 'token' });

        const quote = await client.quote.retrieve('PETR4');

        console.log(quote.results[0].regularMarketPrice);

        ```


        **Sem SDK (Manual):**

        ```typescript

        const response = await fetch('https://brapi.dev/api/quote/PETR4', {
          headers: { 'Authorization': 'Bearer token' }
        });

        const data = await response.json();

        if (!response.ok) throw new Error(`HTTP ${response.status}`);

        console.log(data.results[0].regularMarketPrice);

        ```


        **Documentação completa:** https://brapi.dev/docs/sdks
      operationId: getSDKs
      tags:
        - SDKs
      responses:
        "200":
          description: Informações sobre as SDKs oficiais da brapi.dev
          content:
            application/json:
              schema:
                type: object
                properties:
                  sdks:
                    type: object
                    properties:
                      typescript:
                        type: object
                        properties:
                          name:
                            type: string
                            example: brapi
                          install:
                            type: string
                            example: npm install brapi
                          repository:
                            type: string
                            example: https://github.com/brapi-dev/brapi-typescript
                          features:
                            type: array
                            items:
                              type: string
                            example:
                              - TypeScript support
                              - Auto-retry
                              - Type definitions
                      python:
                        type: object
                        properties:
                          name:
                            type: string
                            example: brapi
                          install:
                            type: string
                            example: pip install brapi
                          repository:
                            type: string
                            example: https://github.com/brapi-dev/brapi-python
                          features:
                            type: array
                            items:
                              type: string
                            example:
                              - Python 3.8+
                              - Sync/Async
                              - Pydantic models
                  advantages:
                    type: array
                    items:
                      type: string
                    example:
                      - 60% less code
                      - Complete type definitions
                      - Automatic retry
                      - Typed errors
                      - IDE integration
              example:
                sdks:
                  typescript:
                    name: brapi
                    install: npm install brapi
                    repository: https://github.com/brapi-dev/brapi-typescript
                    features:
                      - TypeScript support
                      - Auto-retry
                      - Type definitions
                      - Node.js & Browser
                  python:
                    name: brapi
                    install: pip install brapi
                    repository: https://github.com/brapi-dev/brapi-python
                    features:
                      - Python 3.8+
                      - Sync/Async
                      - Pydantic models
                      - Type hints
                advantages:
                  - 60% less code
                  - Complete type definitions
                  - Automatic retry
                  - Typed errors
                  - IDE integration
components:
  schemas:
    ErrorResponse:
      type: object
      description: Schema padrão para respostas de erro da API.
      properties:
        error:
          type: boolean
          description: Indica se a requisição resultou em erro. Sempre `true` para este
            schema.
          example: true
        message:
          type: string
          description: Mensagem descritiva do erro ocorrido.
      required:
        - error
        - message
    AvailableTickersResponse:
      type: object
      description: Resposta do endpoint que lista todos os tickers disponíveis.
      properties:
        indexes:
          type: array
          items:
            type: string
          description: "Lista de tickers de **índices** disponíveis (ex: `^BVSP`, `^IFIX`)."
        stocks:
          type: array
          items:
            type: string
          description: "Lista de tickers de **ações, FIIs, BDRs e ETFs** disponíveis (ex:
            `PETR4`, `VALE3`, `MXRF11`)."
      required:
        - indexes
        - stocks
    IndexSummary:
      type: object
      description: Resumo de informações de um índice, geralmente retornado em listas.
      properties:
        stock:
          type: string
          description: "Ticker do índice (ex: `^BVSP`)."
        name:
          type: string
          description: "Nome do índice (ex: `IBOVESPA`)."
    StockSummary:
      type: object
      description: Resumo de informações de um ativo (ação, FII, BDR), geralmente
        retornado em listas.
      properties:
        stock:
          type: string
          description: "Ticker do ativo (ex: `PETR4`, `MXRF11`)."
        name:
          type: string
          description: "Nome do ativo ou empresa (ex: `PETROBRAS PN`)."
        close:
          type: number
          format: float
          description: Preço de fechamento mais recente ou último preço negociado.
        change:
          type: number
          format: float
          description: Variação percentual do preço em relação ao fechamento anterior.
        volume:
          type: integer
          format: int64
          description: Volume financeiro negociado no último pregão ou dia atual.
        market_cap:
          type: number
          format: float
          description: Capitalização de mercado (Preço x Quantidade de Ações). Pode ser
            nulo para FIIs ou outros tipos.
          nullable: true
        logo:
          type: string
          format: url
          description: URL para a imagem do logo da empresa/ativo.
        sector:
          type: string
          description: "Setor de atuação da empresa (ex: `Energy Minerals`, `Finance`).
            Pode ser nulo ou variar para FIIs."
          nullable: true
        type:
          type: string
          enum:
            - stock
            - fund
            - bdr
          description: "Tipo do ativo: `stock` (Ação), `fund` (Fundo Imobiliário/FII),
            `bdr` (Brazilian Depositary Receipt)."
    QuoteListResponse:
      type: object
      description: Resposta do endpoint de listagem de cotações (`/api/quote/list`).
      properties:
        indexes:
          type: array
          items:
            $ref: "#/components/schemas/IndexSummary"
          description: Lista resumida de índices relevantes (geralmente inclui IBOVESPA).
        stocks:
          type: array
          items:
            $ref: "#/components/schemas/StockSummary"
          description: Lista paginada e filtrada dos ativos solicitados.
        availableSectors:
          type: array
          items:
            type: string
          description: Lista de todos os setores disponíveis que podem ser usados no
            parâmetro de filtro `sector`.
        availableStockTypes:
          type: array
          items:
            type: string
            enum:
              - stock
              - fund
              - bdr
          description: Lista dos tipos de ativos (`stock`, `fund`, `bdr`) disponíveis que
            podem ser usados no parâmetro de filtro `type`.
        currentPage:
          type: integer
          description: Número da página atual retornada nos resultados.
        totalPages:
          type: integer
          description: Número total de páginas existentes para a consulta/filtros aplicados.
        itemsPerPage:
          type: integer
          description: Número de itens (ativos) retornados por página (conforme `limit` ou
            padrão).
        totalCount:
          type: integer
          description: Número total de ativos encontrados que correspondem aos filtros
[...]
